/* Default styles for mobile devices */
.singlePost-div {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.selected-firstdiv {
  display: flex;

}

.selected-secondDiv {
  padding: 2rem;
}

.post-btn {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  transition: 0.2s;
}

.post-btn:hover {
  color: white;
  background-color: rgb(255, 59, 48);
}

.comment {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}
.comment-inputDiv {
  padding: 15px;
}

.comment-input-firstDiv {
  display: flex;
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  width: 100%;
}

.comment-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input-comment {
  padding: 12px;
  border: 1px solid white;
  width: 100%;
  border: none;
  background-color: #f8f9fa;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .singlePost-div {
    display: flex;
    padding: 4rem;
    flex-direction: column;
  }

  .selected-firstdiv {
    display: flex;

  }

  .selected-secondDiv {
    padding: 2rem;
  }

  .post-btn {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    transition: 0.2s;
  }

  .post-btn:hover {
    color: white;
    background-color: rgb(255, 59, 48);
  }

  .comment {
    margin: 15px 0px 15px 0px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }

  .comment-inputDiv {
    padding: 15px;
  }
  .comment-input-firstDiv {
    display: flex;
    padding: 22px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 100%;
  }

  .comment-input-div {
    width: 100%;
    margin: 0px 8px 0px 8px;
  }

  .comment-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .input-comment {
    padding: 12px;
    border: 1px solid white;
    width: 100%;
    border: none;
    background-color: #f8f9fa;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .singlePost-div {
    display: flex;
    padding: 4rem;
    flex-direction: column;
  }

  .selected-firstdiv {
    display: flex;

  }

  .selected-secondDiv {
    padding: 2rem;
  }

  .selectedpost-info {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 5px;
  }

  .post-btn {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    transition: 0.2s;
  }

  .post-btn:hover {
    color: white;
    background-color: rgb(255, 59, 48);
  }

  .comment {
    margin: 15px 0px 15px 0px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }

  .comment-inputDiv {
    padding: 15px;
  }
  .comment-input-firstDiv {
    display: flex;
    padding: 22px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 100%;
  }

  .comment-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .input-comment {
    padding: 12px;
    border: 1px solid white;
    width: 100%;
    border: none;
    background-color: #f8f9fa;
  }
}
