/* Default styles for mobile devices */
.post-user-profile-div {
  display: none;
}

.post-something-div {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
}

.post-input {
  width: 100%;
}
.post-btn-div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px 10px 25px;
}

.post-btn {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  transition: 0.2s;
}

.post-btn:hover {
  color: white;
  background-color: rgb(255, 59, 48);
}

/* Filter div  */

.filter-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 18px;
}

/* Users Post  */

.user-posts {
  display: flex;
  flex-direction: column;
  
}

.user-details {
  display: flex;
}

.user-post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .post-user-profile-div {
    display: flex;
    padding: 16px;
  }

  .post-something-div {
    display: flex;
    flex-direction: row;

    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 5px;
  }

  .post-input {
    width: 100%;
  }

  .post-btn {
    justify-content: flex-end;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    transition: 0.2s;
  }

  .post-btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px 10px 25px;
  }

  .post-btn:hover {
    color: white;
    background-color: rgb(255, 59, 48);
  }
  /* Filter div  */

  .filter-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 18px;
  }

  /* Users Post  */

  .user-posts {
    display: flex;
    flex-direction: column;
  }

  .user-details {
    display: flex;
  }

  .user-post-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .post-user-profile-div {
    display: flex;
    padding: 16px;
  }

  .post-something-div {
    display: flex;
    flex-direction: row;

    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 5px;
  }

  .post-input {
    width: 100%;
  }

  .post-btn {
    border: 1px solid transparent;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    transition: 0.2s;
  }

  .post-btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px 10px 25px;
  }

  .post-btn:hover {
    color: white;
    background-color: rgb(255, 59, 48);
  }

  /* Filter div  */

  .filter-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 18px;
  }

  /* Users Post  */

  .user-posts {
    display: flex;
    flex-direction: column;
  }

  .user-details {
    display: flex;
  }

  .user-post-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
